img { 

    image-rendering: pixelated;                 /* Chrome as of 2019   */

    }

body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    perspective: 1300px;
    cursor: url(images/cursor_default.png),default;
    background-image: url(images/sky.png);
    background-position: 0px -2200px;
    background-repeat: repeat-x;
    background-size: 40%;
    filter:brightness(1.2);
}

.scene,
.object,
.face {
    transform-style: preserve-3d;
    position: absolute;
    box-shadow: 0 0;
    user-select: none;

}

.scene {
    width: 665px;
    height: 665px;
    --rX: -32deg;
    --rY: 42deg;
   transform: translate3D(500px, 90px, 13px) rotateX(var(--rX)) rotateY(var(--rY));
}



.house {
    width: 300px;
    height: 300px; 
    transform: translate3d(376px, 156px, -222px) scale3d(0.9,1,1 );
    cursor: url(images/cursor_hand.png),pointer;
}
.door{
    width: 34px;
    height: 46px;

}
.house .front {transform: rotateY(0deg) translate3d(0px, 0px, 150px);}
.house .left {transform: rotateY(-90deg) translate3d(82px, 106px, 61px);}
.house .roof1 {transform: rotateY(-90deg) rotateX(45deg)translate3d(80.8px, -3px, 26.5px);}
.house .roof2 {transform: rotateY(-90deg) rotateX(-45deg)translate3d(80.3px, 52.5px, -82.4px);}
.house .door {transform: rotateY(0deg) translate3d(94px, 119.6px, 150px);}
.house .mid {transform: rotateX(90deg) rotateZ(90deg) translate3d(81px, -40px, 2.2px);}

.land{    transform: translate3d(0px, 0px, 0px) scale3d(1,1,1 ) ;}
.land .top {transform: rotateX(90deg) translate3d(0px, 0px, 0px);}
.land .side {transform: rotateY(0deg) translate3d(1px, 318.7px, 319.8px);}
.land .side2 {transform: rotateY(90deg) translate3d(0.5px, 319.4px, -318.3px);}
.land .bubble {transform: rotateX(90deg) translate3d(300px, -58px, -310px);}
.land .bubble2 {transform: rotateX(90deg) translate3d(288px, 61px, -310px);}
.land .bubble3 {transform: scale3D(1.2,1.2,1.2) rotateX(90deg) translate3d(230px, -196px, -246px);}
.land .lotus1 {transform: scale3D(1.1,1.1,1.7) rotateX(90deg) translate3d(262px, -107px, -276px);}
.land .lotus2{transform: scaleZ(1.4)rotateX(90deg) translate3d(287px, 2px, -302px);}
.land .lotus3 {transform: scale3D(0.8,0.8,1.2) rotateX(90deg) translate3d(358px, -68px, -377px);}


.wildflowers{
    
    height:32px;
    width: 64px;
    transform: translate3d(0px, 0px, 0px) scale3d(1,1,1 ) ;

}

.wildflowers .flower1{transform:rotateY(90deg) translate3d(-198px, 289px, 460px);}
.wildflowers .flower2{transform:rotateY(90deg) translate3d(-198px, 289px, 413px);}


.animals {
    height: 186px;
    width: 188px;

    transform: translate3d(267px, 212px, 192px) scale3d(1, 1, 1);
  }
  
  .animals .chicken {

    transform: rotateX(19deg) rotateZ(15deg) rotateY(320deg) rotateX(20deg) translate3d(0px, -10px, 0px);
}

.grass {
    -webkit-transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1);
    transform: rotateY(-50deg) translate3d(87px, 280px, -382px) scale3d(1.2, 1.2, 1.2);
  }
  
  .grass .grass1 {
    -webkit-transform: rotateX(0deg) translate3d(0px, 0px, 0px);
    transform: rotateX(0deg) translate3d(122px, 0px, 108px);
  }
  
  .grass .grass2 {
    -webkit-transform: rotateX(0deg) translate3d(0px, 0px, 0px);
    transform: rotateX(0deg) translate3d(244px, 0px, -37px);
  }
  
  
.grass2 {
    -webkit-transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1);
    transform: rotateY(-50deg) translate3d(-33px, 282px, -337px) scale3d(1.2, 1.2, 1.2);
  }
  
  .grass2 .grass1 {
    -webkit-transform: rotateX(0deg) translate3d(0px, 0px, 0px);
    transform: rotateX(0deg) translate3d(18px, 0px, 24px);
  }
  
  .grass2 .grass2 {
    -webkit-transform: rotateX(0deg) translate3d(0px, 0px, 0px);
    transform: rotateX(0deg) translate3d(-9px, 0px, 0px);
  }
  
  .grass2 .grass3 {
    -webkit-transform: rotateX(0deg) translate3d(0px, 0px, 0px);
    transform: rotateX(0deg) translate3d(47px, 0px, 47px);
}
  
.grass3 {
    -webkit-transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1);
    transform: rotateY(-50deg) translate3d(153px, 283px, -183px) scale3d(1.2, 1.2, 1.2);
  }
  
  .grass3 .grass1 {
    -webkit-transform: rotateX(0deg) translate3d(0px, 0px, 0px);
    transform: rotateX(0deg) translate3d(18px, 0px, 24px);
  }
  
  .grass3 .grass2 {
    -webkit-transform: rotateX(0deg) translate3d(0px, 0px, 0px);
    transform: rotateX(0deg) translate3d(-9px, 0px, 0px);
  }
  
  .grass3 .grass3 {
    -webkit-transform: rotateX(0deg) translate3d(0px, 0px, 0px);
    transform: rotateX(0deg) translate3d(47px, 0px, 47px);
}
.clouds {
    -webkit-transform: translate3d(36px, 0px, 0px) scale3d(1, 1, 1);
    transform: translate3d(-400px, 0px, 0px) scale3d(1, 1, 1);
    pointer-events: none;
  }
  
  .clouds .cloud1 {
    -webkit-transform: rotateX(0deg) rotateZ(0deg) rotateY(329deg) translate3d(-181px, -12px, 382px);
    transform: rotateX(0deg) rotateZ(0deg) rotateY(329deg) translate3d(-136px, -12px, -117px);
  }
  
  .clouds .cloud2 {
    -webkit-transform: rotateX(0deg) rotateZ(0deg) rotateY(329deg) translate3d(-181px, -12px, 382px);
    transform: rotateX(0deg) rotateZ(0deg) rotateY(329deg) translate3d(-228px, 50px, 399px);
  }
  
  .clouds .cloud3 {
    -webkit-transform: rotateX(0deg) rotateZ(0deg) rotateY(328deg) translate3d(137px, 43px, 3px);
    transform: rotateX(0deg) rotateZ(0deg) rotateY(328deg) translate3d(321px, 91px, 74px);
  }


.fence{transform: translate3d(0px, 0px, 0px) ;}
.fence .front {transform: rotateX(9deg) translate3d(0px, 339px, 258px);}
.fence .right{transform: rotateY(90deg) translate3d(0px, 294px, 304px);}
.fence .left {transform: rotateZ(9deg) rotateY(90deg) translate3d(0px, 339px, -245px);}



.tree {
    cursor: url(images/cursor_hand.png), pointer;
    -webkit-transform: rotateY(7deg) translate3d(364px, 256px, 5px) scale3d(1, 1, 1);
    transform: rotateY(7deg) translate3d(349px, 244px, 5px) scale3d(1.2, 1.2, 1.2);
  }
  
  .tree .treeface1 {
    -webkit-transform: rotateX(0deg) translate3d(0px, 0px, 0px);
            transform: rotateX(0deg) translate3d(0px, 0px, 0px);
  }
  
  .tree .treeface2 {
    -webkit-transform: rotateY(298deg) translate3d(0px, 0px, 0px);
            transform: rotateY(298deg) translate3d(0px, 0px, 0px);
  }

.tree2 {
    cursor: url(images/cursor_hand.png), pointer;
    -webkit-transform: rotateY(299deg) translate3d(198px, 256px, -507px) scale3d(1, 1, 1);
    transform: rotateY(299deg) translate3d(202px, 243px, -507px) scale3d(1.2, 1.2, 1.2);
  }
  
  .tree2 .treeface1 {
    -webkit-transform: rotateX(0deg) translate3d(0px, 0px, 0px);
            transform: rotateX(0deg) translate3d(0px, 0px, 0px);
  }
  
  .tree2 .treeface2 {
    -webkit-transform: rotateY(233deg) translate3d(0px, 0px, 0px);
            transform: rotateY(233deg) translate3d(0px, 0px, 0px);
  }
  
  .tree3 {
    cursor: url(images/cursor_hand.png), pointer;
    -webkit-transform: rotateY(299deg) translate3d(198px, 256px, -507px) scale3d(1, 1, 1);
    transform: rotateY(0deg) translate3d(316px, 223px, -228px) scale3d(1.5, 1.5, 1.5);
  }
  
  .tree3 .treeface1 {
    -webkit-transform: rotateX(0deg) translate3d(0px, 0px, 0px);
    transform: rotateY(167deg) translate3d(0px, 0px, 0px);
  }
  
  .tree3 .treeface2 {
    -webkit-transform: rotateY(233deg) translate3d(0px, 0px, 0px);
    transform: rotateY(103deg) translate3d(0px, 0px, 0px);
  }
  
  .tree4 {
    cursor: url(images/cursor_hand.png), pointer;
    -webkit-transform: rotateY(299deg) translate3d(198px, 256px, -507px) scale3d(1, 1, 1);
    transform: rotateY(0deg) translate3d(-10px, 224px, -254px) scale3d(1.5, 1.5, 1.5);
  }
  
  .tree4 .treeface1 {
    -webkit-transform: rotateX(0deg) translate3d(0px, 0px, 0px);
            transform: rotateX(0deg) translate3d(0px, 0px, 0px);
  }
  
  .tree4 .treeface2 {
    -webkit-transform: rotateY(233deg) translate3d(0px, 0px, 0px);
    transform: rotateY(292deg) translate3d(0px, 0px, 0px);
  }
  




.fruits{
    

    transform: translate3d(382px, 308px, -45px) scale3d(1.5,1.5,1.5) rotateY(316deg) rotateX(63deg);
    
    }
        
        .fruits .peach{transform: rotateX(0deg) translate3d(0px, 0px, 0px);
          visibility: hidden;
            }
        
        .fruits .apple{transform: rotateX(0deg) translate3d(0px, 0px, 0px);
            visibility: hidden;;
        }
        .fruits .cherry{
            transform: rotateX(0deg) translate3d(73px, -66px, -36px);
            visibility: hidden;
            }

        .fruits .avo{
            transform: rotateX(0deg) translate3d(75px, -66px, -36px);
            visibility: hidden;
            }

        /* .fruits .orange{transform: rotateX(0deg) translate3d(0px, 0px, 0px);
            visibility: hidden;} */

.scarecrow{
width: 32px;
height: 64px;
transform: translate3d(213px, 250px, -53px);
transform-origin: 50% 5% 0px;}
                
.scarecrow .front {
--rY:320deg;
            
transform: scale3D(1.2,1.2,1.2)rotateY(var(--rY))  translate3d(0px, 0px, 0px);}
     
// 


.farm{

    cursor: url(images/cursor_hand.png),pointer;
    transform: translate3d(0px,0px,0px);

}
    
.farm .place1 {
  -webkit-transform: rotateX(0deg) translate3d(0px, 0px, 0px);
  transform: rotateX(360deg) translate3d(56px, 286px, -196px);
    opacity: 0;
}

.farm .place2 {
  -webkit-transform: rotateY(0eg) translate3d(0px, 0px, 0px);
  transform: rotateX(10deg) translate3d(57px, 266px, -156px);
  opacity: 0;
}

.farm .place3 {
  -webkit-transform: rotateX(0deg) translate3d(0px, 0px, 0px);
  transform: rotateX(15deg) translate3d(60px, 277px, -87px);
  opacity: 0;
}

.farm .place4 {
  -webkit-transform: rotateX(0deg) translate3d(0px, 0px, 0px);
  transform: rotateX(20deg) translate3d(57px, 298px, -17px);
  opacity: 0;
}

.farm .flowerplace1 {
    -webkit-transform: rotateX(0deg) translate3d(0px, 0px, 0px);
    transform: rotateX(10deg) translate3d(61px, 314px, 123px);
    opacity: 0;
  }
  
.farm .flowerplace2 {
    -webkit-transform: rotateX(0deg) translate3d(0px, 0px, 0px);
    transform: rotateX(20deg) translate3d(63px, 352px, 122px);
    opacity: 0;
}




                   
/* UI!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.items_UI{
    z-index: 2;
    width: 100vw;
    height: 100vh;
    background-color: rgba(69, 69, 69, 0.295);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;

}

.control{
    width:100vw;
    position: absolute;
    top: 49vh;
    z-index: 999;

}
.next {
    position: absolute;
    left: 35vw;
    cursor: url(images/cursor_hand.png),pointer;
}
.okay {
    position: absolute;
    right: 35vw;
    cursor: url(images/cursor_hand.png),pointer;
}

.inventory_items {
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 10px;


}

.carrot {
    position: relative;
    top: 0;
    left: 0;
    z-index: 10;
    // visibility: hidden;


}

.strawberry {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    visibility: hidden;

}

.pumpkin {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8;

    visibility: hidden;
}

.corn {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;
    visibility: hidden;
}

.cabbage {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
    visibility: hidden;
}

.lavender {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    visibility: hidden;
}


.daisy {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    visibility: hidden;
}
.rose {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    visibility: hidden;
}

.hotspots{


    z-index: 990;
    width:100vw;
    height:100vh;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-left:20px;





}

.hotspot{

    width: 32px;
    height:80px;
    margin-right:10px;
    cursor: url(images/cursor_hand.png),pointer;

}



.sunmoon {
    width:100vw;
    height: 100vh;;
}
.sun{
    width:10vw;
    position: absolute;
    top: 55px;
    right: 55px;
    transition:1s;
    cursor: url(images/cursor_hand.png),pointer;
}

.sun:hover{

    top: 3vh;
    right: 3vw;
    width:20vw;
    cursor: url(images/cursor_hand.png),pointer;
    
    animation: flash 2s linear infinite;
    

}

.moon{
    width:10vw;
    position: absolute;
    top: 55px;
    left: 55px;
    margin-top: -150px;
    margin-left: -150px;
    transition:1s;
    cursor: url(images/cursor_hand.png),pointer;
    visibility: hidden;

}

.moon:hover{

    top: 3vh;
    left: 3vw;

    width:20vw;
    cursor: url(images/cursor_hand.png),pointer;
    
    animation: flash 2s linear infinite;
    

}



@keyframes flash{

    0%{
        opacity: 1;
        
    }

    50%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}


.buttons{
    position: absolute;
    bottom: 0;
    left: 50px;
    width: 100vw;
    height: 10vh;
    display: flex;



    img{
        top: 0;
        left: 0px;
        width: 80px;
        height:80px;
        padding:10px;
        margin-top:-20px;
    }

    .soundbutton{
        margin-top:-19px;
    }
}

.soundbutton:hover{
    content:url(images/soundon_button_hover.gif);
    cursor: url(images/cursor_hand.png),pointer;
    transition:1s;
}

.mutebutton:hover{
    content:url(images/mute_button_hover.gif);
    cursor: url(images/cursor_hand.png),pointer;
    transition:1s;
}

.housemenu{

    z-index: 999;
    width: 100vw;
    height: 100vh;
    // background-color: rgba(69, 69, 69, 0.295);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;

    visibility: hidden;



}